<div>
    Habit Name 
    <input 
      type="text" 
      placeholder="Enter habit"
      [ngModel]="name()" 
      (ngModelChange)="name.set($event)"
    >
  
    <select 
      [ngModel]="frequency()" 
      (ngModelChange)="frequency.set($event)"
    >
      <option value="Daily">Daily</option>
      <option value="Weekly">Weekly</option>
    </select>
  
    @if (selectedHabit()) {
      <button (click)="editHabit()">Edit</button>
    } @else {
      <button (click)="addHabit()">Add</button>
    }
  </div>
  @for (h of habitService.habits(); track h.id) {
    <div class="card">
        <span>
            <strong>{{h.name}}</strong> 
            <p>{{ h.frequency }}</p>
            <p>Tracked Days: {{ h.trackedDays }}</p>
<p>Completed Days: {{ h.completedDays }}</p>
<p>Completion Rate: {{ h.completionRate }}</p>
        
          </span>
          <input type="checkbox" (change)="markComplete(h)">          
          <button (click)="selectHabit(h)">Edit</button>
        <button (click)="deleteHabit(h.id!)">Delete</button>    </div>
  }